@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}
body {
  width: 1420;
  background-color: black;
}
header {
  width: 100%;
  height: 800px;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

/* Shared style */
.display-flex {
  display: flex;
}

.p-color {
  color: rgb(231, 83, 55);
}
.btn-primary {
  background-color: rgb(232, 82, 52);
  padding: 10px 20px;
  border-radius: 28px;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
}
.text-gray {
  color: rgba(255, 255, 255, 0.5);
}
/* Navbar related style */
.navbar {
  padding: 50px 94px 0px 130px;
  justify-content: space-between;
}
.nav-item {
  list-style: none;
  margin-right: 36px;
}
.nav-link {
  text-decoration: none;
  color: white;
  opacity: 90%;
}
.nav-links {
  width: 462px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  align-items: center;
  justify-content: space-between;
}
.fitness {
  font-style: italic;
  font-size: 2.1rem;
}
.navbar > img {
  display: none;
}
/* Banner related style */
.banner {
  padding: 50px 94px 0px 130px;
  position: relative;
}
.banner-content {
  margin-top: 90px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  margin-top: 30px;
}
#shape {
  font-family: "Dancing Script";
}
.btn {
  margin-top: 30px;
}
#download-btn {
  padding: 10px 20px;
  border-radius: 28px;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  font-weight: 500;
  border: 1px solid gray;
  cursor: pointer;
  margin-left: 12px;
}
#banner-image {
  margin-left: 300px;
}
#card-box {
  width: 180px;
  height: 80px;
  border: 1px solid gray;
  border-radius: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 3%;
  top: 30%;
  cursor: pointer;
}
#card-box-b {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 180px;
  height: 80px;
  border: 1px solid gray;
  border-radius: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.034);
  position: absolute;
  bottom: 10%;
  right: 24%;
  cursor: pointer;
}
.circle-icon {
  padding-left: -0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(231, 83, 55);
}
#number {
  margin-right: 44px;
  font-size: 1.8rem;
  font-weight: 700;
}
#number-b {
  margin-right: 22px;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Habits section related style */

.habit-title {
  width: 100%;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-align: center;
}
.habit-description {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 12px 0px;
  text-align: center;
}
.habit-cards {
  width: 1100px;
  margin: 50px auto;
  justify-content: space-between;
}
.cards > img {
  border-radius: 50%;
}
.cards {
  width: 240px;
  height: 270px;
  text-align: center;
}
.card-title {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px;
}

/* Run section related style */
.extra-run {
  padding: 0px 200px 0px 100px;
}
.run-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 40px 50px;
}
.run-title {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-top: 20px;
}
.run-description {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 34px 0px;
  width: 80%;
}
.join-now {
  margin: 24px 0px;
  padding: 16px 42px;
  font-size: 1.2rem;
  font-weight: 600;
}
.run-container > img {
  width: 50%;
  border-radius: 20px;
}

/* BMI calculator section */
.bmi-calculator {
  margin: 80px 380px;
}
.bmi-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 14px;
}

.bmi-container {
  width: 100%;
  height: 420px;
  background: rgb(34, 34, 34);
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid white;
  padding: 10px;
}
th {
  color: rgb(255, 255, 255);
  text-align: left;
}
.chart-container {
  width: 34%;
  padding: 60px 0px 0px 150px;
}
.chart-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}
.calculate-container {
  margin-top: 60px;
  width: 46%;
}
input,
select {
  color: rgb(255, 255, 255);
  margin: 6px 6px;
  border: none;
  border-radius: 6px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
select {
  width: 46%;
}
.half-select {
  width: 96%;
}
.input-section {
  width: 63%;
  margin: 20px 0px;
}
.calculate-btn {
  width: 25%;
  margin-left: 6px;
}
/* Responsive mobile device */
@media screen and (max-width: 576px) {
  .navbar {
    padding: 30px 15px;
  }
  .navbar > .nav-links {
    display: none;
  }
  .navbar > img {
    width: 8%;
    height: 8%;
    margin-top: 10px;
    display: block;
  }
  .banner {
    flex-direction: column;
    padding: 20px;
  }
  #card-box {
    top: 50%;
    right: 10%;
    height: 70px;
    width: 150px;
    border-radius: 10px;
  }
  #card-box-b {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    right: 60%;
    bottom: 24%;
  }
  #banner-image {
    margin-left: 5px;
  }

  /* Habits section related style */
  .habits-section {
    margin-top: 380px;
  }
  .habit-cards {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .cards {
    margin-bottom: 42px;
  }

  /* Run section related style */
  .extra-run {
    padding: 0px;
    margin: 0px 20px;
  }
  .run-container {
    width: 100%;
    padding: 0px;
    flex-direction: column;
  }
  .run-content {
    padding: 30px;
  }
  .run-container > img {
    margin: 20px auto;
    width: 90%;
  }
  .join-now {
    margin: 5px;
    width: 100%;
    font-weight: 600;
  }
  .run-description {
    width: 100%;
  }
  .run-title {
    margin-top: 0px;
  }

  /* BMI calculate related design */
  .bmi-container {
    width: 100%;
    height: 100%;
  }
  .bmi-calculator {
    margin: 10px;
  }
  .chart-container {
    width: 95%;
    padding: 10px;
  }
  .bmi-container {
    flex-direction: column;
  }
  .chart-title {
    width: 100%;
  }
  .calculate-container {
    width: 95%;
    margin-top: 30px;
    padding: 10px;
  }
  input,
  select {
    margin: 4px;
  }
  .input-section {
    width: 100%;
  }
  .calculate-btn {
    width: 50%;
    margin: 5px 0px 20px 5px;
  }
}
